* {
    margin: 0px;
    padding: 0px;
    /* background-color: cyan; */
}

li {
    /* padding: 5px; */
    /* margin: 5px; */
}

h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.list-group {
    display: grid;
    grid-template-columns: 300px 600px auto;
    grid-template-rows: 300px 300px 300px 300px;
    border-style: none;
    grid-gap: 0px;
}

img {
    height: 255px;
    width: 255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}